body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div#root {
  width: 300px;
  margin: 20px auto;
}

.logo {
  width: 40px;
  height: 40px;
}

button {
  font-size: 20px;
  outline: 1px #ececec solid;
  border: none;
  width: 100%;
  &:active {
    background: #ececec;
  }
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}
